doctype html
html
  head
    title Zone
  style.
    th {
      white-space: nowrap;
    }
    td, th {
      text-align: center;
    }
    td {
      border-bottom: 1px solid black;
    }
    td img {
      width: 60px;
    }
    .example-cell {
      text-align: left;
      width: 20%;
    }
  body
    div
      table
        tr
          th ID
          th 名稱
          th 效果
          th 物品 / 敵
        - for (const _zone of zone.List)
          tr
            td= _zone.id
            td= _zone.name
            td
              - if (_zone.effectlist.length)
                - for (const effect of _zone.effectlist)
                  - const _zoneEffect = zoneEffect.List.find(p => p.id === effect)
                  p #{_zoneEffect.name}, #{_zoneEffect.value}
            td.example-cell
              - for (const _item of itemsOrderByCategory.filter(p => p.SPC.some(l => l.SKILL.some(i => skillLoopUp[i.DF] && skillLoopUp[i.DF].effect === 139 && skillLoopUp[i.DF].effectValue === _zone.id))))
                a(href="item.html#DF-" + _item.DF target="_blank")
                  img(src= exportFileManager.rootFolderRelativePath + "img/icon_s/Texture2D/icon_item_s_" + _item.DF + ".png" alt= _item.name)
              - for (const _enemy of enemiesOrderByCategory.filter(p => p.sParam.SKILL.some(i => skillLoopUp[i.DF] && skillLoopUp[i.DF].effect === 135 && skillLoopUp[skillLoopUp[i.DF].effectValue] && skillLoopUp[skillLoopUp[i.DF].effectValue].effectValue === _zone.id)))
                a(href="enemy.html#DF-" + _enemy.DF target="_blank")
                  img(src= exportFileManager.rootFolderRelativePath + "img/enemy/Texture2D/" + `enemy_tex_${_enemy.sParam.MDL}.png` alt= _enemy.strName)