doctype html
html
  head
    title #{that.i18nService.i18n.__("異常状態")}
    style.
      tr td {
        border-bottom: 1px solid black;
        text-align: center;
      }
  body
    div
      table
        thead
          tr
            th ID
            th #{that.i18nService.i18n.__("名前")}
            th #{that.i18nService.i18n.__("テクスト")}
            th #{that.i18nService.i18n.__("ターン")}
            th #{that.i18nService.i18n.__("追加状態")}
        tbody
          - for (const _abnormalState of abnormalState.m_vList)
            tr
              td= _abnormalState.id
              td= _abnormalState.name
              td= _abnormalState.telop
              td= _abnormalState.turn
              td
                - if (_abnormalState.effectlist.length)
                  - for (const [i, id] of _abnormalState.effectlist.entries())
                    - const _abnormalStateEffect = abnormalStateEffect.m_vList.find(p => p.id === id)
                    p #{_abnormalStateEffect.name}, #{_abnormalStateEffect.value}