doctype html
html
  head
    title 区域
    style.
      .area-indexes-container {
        display: flex;
        flex-wrap: wrap;
      }
      .area-index-container {
        padding: 12px;
      }


      .area-container {
        display: flex;
        padding: 12px;
      }
      .area-container-left {
        min-width: 300px;
        max-width: 300px;
      }
      .area-container-right {
        padding: 12px;
      }

      .area-items-container img, .area-enemies-container img {
        width: 60px;
      }
  style.
  body
    h2 区域
    div.area-indexes-container
      - for (const _areaDetail of areaDetail.List)
        - const _areaInfo = areaInfo.List.find(p => p.iAreaId === _areaDetail.iAreaID) 
        div.area-index-container
          a(href="#iAreaID-" + _areaDetail.iAreaID)
            - const _fieldName = fieldName.List.find(p => p.iAreaNameId === _areaInfo.iAreaNameId);
            span #{_fieldName.strAreaName} #{_fieldName.strAreaNameSub.trim() ? `/ ${_fieldName.strAreaNameSub}` : ''}
    br
    br
    br
    br
    hr

    div
      - for (const _areaDetail of areaDetail.List)
        - const _areaInfo = areaInfo.List.find(p => p.iAreaId === _areaDetail.iAreaID)
        div.area-container(id="iAreaID-" + _areaDetail.iAreaID)
          div.area-container-left
            - const _fieldName = fieldName.List.find(p => p.iAreaNameId === _areaInfo.iAreaNameId);
            - if (_fieldName)
              p #{_fieldName.strAreaName} #{_fieldName.strAreaNameSub.trim() ? `/ ${_fieldName.strAreaNameSub}` : ''}
            p iAreaID: #{_areaDetail.iAreaID}
            p LV: #{_areaDetail.iLevel}

          div.area-container-right
            - if (_areaDetail.iItemIDList.length)
              h4 ---- アイテム ----
              div.area-items-container
                - for (const id of _areaDetail.iItemIDList)
                  - const _item = item.m_vList.find(i => i.DF === id)
                    a(href="item.html#DF-" + id target="_blank")
                      img(src="img/icon_s/Texture2D/icon_item_s_" + id + ".png" alt= _item.NAME)
            - if (_areaDetail.iEnemyIDList.length)
              h4 ---- 敵 ----
              div.area-enemies-container
                - for (const id of _areaDetail.iEnemyIDList)
                  - const _enemy = enemy.m_vList.find(i => i.DF === id)
                    a(href="enemy.html#DF-" + id target="_blank")
                      img(src="img/enemy/Texture2D/" + `enemy_tex_${_enemy.sParam.MDL}.png` alt= _enemy.strName)

            - const dungeonInfos = dungeonInfo.List.filter(p => p.iAreaId === _areaDetail.iAreaID)
            - if (dungeonInfos.length)
              h4 ---- ダンジョン ----
              div.area-dungeons-container
                - for (const [i, _dungeonInfo] of dungeonInfos.entries())
                  - const _fieldName = fieldName.List.find(p => p.iAreaNameId === _dungeonInfo.iAreaNameId);
                  - if (_fieldName)
                    p #{_fieldName.strAreaName} #{_fieldName.strAreaNameSub.trim() ? `/ ${_fieldName.strAreaNameSub}` : ''}
                  - else
                    p -
                  p 最大階層: #{_dungeonInfo.iMaxFloor}
                  - const returnAreaInfo = areaInfo.List.find(p => p.iAreaId === _dungeonInfo.iReturnArea) 
                  - const returnFieldName = fieldName.List.find(p => p.iAreaNameId === returnAreaInfo.iAreaNameId);
                  p 脱出区域: 
                    a(href="#iAreaID-" + _dungeonInfo.iReturnArea) #{returnFieldName ? returnFieldName.strAreaName : '-'}
                  - if (dungeonInfos.length !== (i + 1))
                    p &#x3E;

            - const townInfos = townInfo.List.filter(p => p.iAreaId === _areaDetail.iAreaID)
            - if (townInfos.length)
              h4 ---- 町 ----
              div.area-towns-container
                - for (const _townInfo of townInfos)
                  - const _fieldName = fieldName.List.find(p => p.iAreaNameId === _townInfo.iAreaNameId);
                  - if (_fieldName)
                    p #{_fieldName.strAreaName} #{_fieldName.strAreaNameSub.trim() ? `/ ${_fieldName.strAreaNameSub}` : ''}
                  - else
                    p -

            - const gateInfos = gateInfo.List.filter(p => p.iArea === _areaDetail.iAreaID)
            - if (gateInfos.length)
              h4 ---- ゲート ----
              div.area-gates-container
                - for (const _gateInfo of gateInfos)
                  p= _gateInfo.strName
        hr