doctype html
html
  head
    title 効果
    link(rel="stylesheet" href="css/main.css")
    style.
        th {
          text-align: center;
          white-space: nowrap;
        }
        td {
          border-bottom: 1px solid black;
          text-align: center;
        }

        .example-cell {
          text-align: left;
          width: 40%;
        }
  body
    div
      table
        thead
          tr
            th ID
            th 名前
            th 詳細
            th 数値
            th レア度
            th アイテム/人物/敵
        tbody
          - for (const s of skill.m_vList.filter(p => p.type === 2))
            tr
              td.nowrap-cell= s.id
              td.nowrap-cell= s.name
              td= s.detail
              td.nowrap-cell= `${s.effectValue}, ${s.effectValue2}`
              td.nowrap-cell= new Array(s.rarity).fill('⭐').join('')
              td.example-cell
                - for (const _item of itemsOrderByCategory.filter(p => p.SPC.some(i => i.SKILL.some(j => j.DF === s.id))))
                  a(href="item.html#DF-" + _item.DF target="_blank")
                    img.icon-small(src="img/icon_s/Texture2D/icon_item_s_" + _item.DF + ".png" alt= _item.name)
                - for (const _enemy of enemiesOrderByCategory.filter(p => p.sParam.SKILL.some(i => i.DF === s.id)))
                  a(href="enemy.html#DF-" + _enemy.DF target="_blank")
                    img.icon-small(src="img/enemy/Texture2D/" + `enemy_tex_${_enemy.sParam.MDL}.png` alt= _enemy.strName)
                - for (const _chara of charasOrderByCategory.filter(p => p.SKILL.some(i => i.DF === s.id)))
                  a(href="chara.html#DF-" + _chara.DF target="_blank")
                    img.icon-small(src="img/chara/Texture2D/icon_chara_all_" + _chara.DF.toString().padStart(4, "0") + "_00.png" alt= _chara.NAME)
