doctype html
html
  head
    title #{that.i18nService.i18n.__("スキル")}
    link(rel="stylesheet" href= that.exportService.rootFolderRelativePath + "css/main.css")
    style.
      th {
        text-align: center;
        white-space: nowrap;
      }
      td {
        border-bottom: 1px solid black;
        text-align: center;
      }
      .example-cell {
        text-align: left;
        width: 20%;
      }
  body
    div
      table
        thead
          tr
            th ID
            th #{that.i18nService.i18n.__("名前")}
            th #{that.i18nService.i18n.__("詳細")}
            th #{that.i18nService.i18n.__("数値")}
            th #{that.i18nService.i18n.__("属性")}
            th #{that.i18nService.i18n.__("對象")}
            th #{that.i18nService.i18n.__("追加状態 (自)")}
            th #{that.i18nService.i18n.__("追加状態")}
            th #{that.i18nService.i18n.__("画像")}
            th #{that.i18nService.i18n.__("アイテム")}/#{that.i18nService.i18n.__("人物")}/#{that.i18nService.i18n.__("敵")}
        tbody
          - for (const _skill of skill.m_vList.filter(p => p.type === 1))
            - const attackSkill = _skill.combSkillList.find(p => p.effect === 1) || _skill
            tr
              td.nowrap-cell= _skill.id
              td= _skill.name
              td= _skill.detail
              td.nowrap-cell= `${_skill.effectValue}, ${_skill.effectValue2}`
              td.nowrap-cell #{that.lookup.eBattleElementKind[attackSkill.element]}
              td.nowrap-cell #{that.lookup.targetTeam[_skill.targetTeam]}#{that.lookup.fieldItemRange[_skill.targetScope]}
              td
                - for (const [i, _state] of _skill.stateOwn.entries())
                  - const effect = abnormalState.m_vList.find(p => p.id === _state.id)
                  p #{_state.rate * 100}% #{effect.name}
              td
                - for (const [i, _state] of _skill.state.entries())
                  - const effect = abnormalState.m_vList.find(p => p.id === _state.id)
                  p #{_state.rate * 100}% #{effect.name}
              td
                - if (_skill.iconPath)
                  img.icon-small(src= that.exportService.rootFolderRelativePath + "img/icon_skill/Texture2D/" + `${_skill.iconPath}.png` alt= _skill.name)
              td.example-cell
                - for (const _item of itemsOrderByCategory.filter(p => p.SPC.some(i => i.SKILL.some(j => j.DF === _skill.id))))
                  a(href="item.html#DF-" + _item.DF target="_blank")
                    img.icon-small(src= that.exportService.rootFolderRelativePath + "img/icon_s/Texture2D/icon_item_s_" + _item.DF + ".png" alt= _item.name)
                - for (const _enemy of enemiesOrderByCategory.filter(p => p.sParam.SKILL.some(i => i.DF === _skill.id)))
                  a(href="enemy.html#DF-" + _enemy.DF target="_blank")
                    img.icon-small(src= that.exportService.rootFolderRelativePath + "img/enemy/Texture2D/" + `enemy_tex_${_enemy.sParam.MDL}.png` alt= _enemy.strName)
                - for (const _chara of charasOrderByCategory.filter(p => p.SKILL.some(i => i.DF === _skill.id) || p.BA.some(i => { const ba = blazeArt.m_vList.find(j => j.DF === i.DF); return ba ? ba.LV.some(k => k.SKILL_DF === _skill.id) : false })))
                  a(href="chara.html#DF-" + _chara.DF target="_blank")
                    img.icon-small(src= that.exportService.rootFolderRelativePath + "img/chara/Texture2D/icon_chara_all_" + _chara.DF.toString().padStart(4, "0") + "_00.png" alt= _chara.NAME)
